#Database configurations 
/app_core/db_conf.php
#Graphics and font files
/net-hesten.dk/style/graphics
/net-hesten.dk/font*
/files.net-hesten.dk/graphics
/files.net-hesten.dk/scripts/*
/files.net-hesten.dk/style/graphics/*

#Files that should not be in gitignore
/ajax.net-hesten.dk/feed_live_content.php
/ajax.net-hesten.dk/fetch_stud_horse.php
/ajax.net-hesten.dk/suggest_event_participants.php
/ajax.net-hesten.dk/suggest_user_names.php
/app_core/cron_files/functions/*
/app_core/cron_files/five_minutes.php
/app_core/object_handlers/accounting.php
/app_core/object_handlers/alias_chat.php
/app_core/object_handlers/artist_center.php
/app_core/object_handlers/auctions.php
/app_core/object_handlers/chat.php
/app_core/object_handlers/competitions.php
/app_core/object_handlers/file_uploads.php
/app_core/object_handlers/horse_list_filters.php
/app_core/object_handlers/horse_trader.php
/app_core/object_handlers/horses.php
/app_core/object_handlers/opinions.php
/app_core/object_handlers/private_messages.php
/app_core/object_handlers/private_trade.php
/app_core/object_handlers/user.php

/files.net-hesten.dk/templates
/global_modules/modals/json_feedback.php
/global_modules/left_menu.php

#Adminpanels
/net-hesten.dk/admin/competitions
/net-hesten.dk/admin/elements
/net-hesten.dk/admin/hestetegner
/net-hesten.dk/admin/management
/net-hesten.dk/admin/manuel_crons
/net-hesten.dk/admin/moderator
/net-hesten.dk/admin/opinions
/net-hesten.dk/admin/specifications
/net-hesten.dk/admin/test
/net-hesten.dk/admin/lists/index.php
/net-hesten.dk/admin/lists/online_times.php
/net-hesten.dk/admin/lists/tabel_stability.php

/net-hesten.dk/area/stud/main
/net-hesten.dk/area/world/landscape
/net-hesten.dk/area/world/privat_trade
/net-hesten.dk/area/world/simple_competition
/net-hesten.dk/area/world/visit
#Old versions of data regulations
/net-hesten.dk/infosheets/*[0-9]*
/net-hesten.dk/favicon.ico