#Database configurations 
/app_core/db_conf.php
#Graphics and font files
/net-hesten.dk/font*
/net-hesten.dk/favicon.ico
/net-hesten.dk/style/graphics
/files.net-hesten.dk/graphics
/files.net-hesten.dk/scripts/*
/files.net-hesten.dk/templates
/files.net-hesten.dk/style/graphics/*
/net-hesten.dk/admin/elements/fonts/*

#Files that should not be in gitignore
/app_core/object_handlers/accounting.php
/app_core/object_handlers/alias_chat.php
/app_core/object_handlers/artist_center.php
/app_core/object_handlers/auctions.php
/app_core/object_handlers/chat.php
/app_core/object_handlers/competitions.php
/app_core/object_handlers/file_uploads.php
/app_core/object_handlers/horse_list_filters.php
/app_core/object_handlers/horse_trader.php
/app_core/object_handlers/horses.php
/app_core/object_handlers/opinions.php
/app_core/object_handlers/private_messages.php
/app_core/object_handlers/private_trade.php
/app_core/object_handlers/user.php


#Adminpanels
/net-hesten.dk/admin/competitions/index.php
/net-hesten.dk/admin/competitions/simple_competitions.php

/net-hesten.dk/admin/hestetegner/backup/admin_types.php
/net-hesten.dk/admin/hestetegner/backup/change_generation_status.php
/net-hesten.dk/admin/hestetegner/backup/list_heste_vis_race_two.php
/net-hesten.dk/admin/hestetegner/backup/list_heste_vis_race.php
/net-hesten.dk/admin/hestetegner/backup/vis_race.php
/net-hesten.dk/admin/hestetegner/backup/list_heste.php
/net-hesten.dk/admin/hestetegner/draw/index.php
/net-hesten.dk/admin/hestetegner/move_to_files/count_old.php
/net-hesten.dk/admin/hestetegner/move_to_files/fix.php
/net-hesten.dk/admin/hestetegner/move_to_files/count.php
/net-hesten.dk/admin/hestetegner/move_to_files/index.php
/net-hesten.dk/admin/hestetegner/move_to_types/index.php
/net-hesten.dk/admin/hestetegner/parsing/index.php
/net-hesten.dk/admin/hestetegner/repair/index.php
/net-hesten.dk/admin/hestetegner/admin_races.php
/net-hesten.dk/admin/hestetegner/admin_templates.php
/net-hesten.dk/admin/hestetegner/admin_types_version_two.php
/net-hesten.dk/admin/hestetegner/change_generation_status_version_two.php
/net-hesten.dk/admin/hestetegner/edit_horse.php
/net-hesten.dk/admin/hestetegner/finish_type_addition.php
/net-hesten.dk/admin/hestetegner/index.php
/net-hesten.dk/admin/hestetegner/list_indsendte.php
/net-hesten.dk/admin/hestetegner/list_rebirth_by_date.php
/net-hesten.dk/admin/hestetegner/show_all_uniques.php
/net-hesten.dk/admin/hestetegner/submitted_horses.php
/net-hesten.dk/admin/hestetegner/template_handling.php

/net-hesten.dk/admin/management/error_checker.php
/net-hesten.dk/admin/management/error_logs.php
/net-hesten.dk/admin/management/horse_cleanup.php
/net-hesten.dk/admin/management/lineage_cache_builder.php
/net-hesten.dk/admin/management/review_applications.php
/net-hesten.dk/admin/management/user_cleanup.php
/net-hesten.dk/admin/management/user_management.php

#Old versions of data regulations
/net-hesten.dk/infosheets/*[0-9]*
