#Database configurations 
/app_core/db_conf.php
#Graphics and font files
/net-hesten.dk/font*
/net-hesten.dk/favicon.ico
/net-hesten.dk/style/graphics
/files.net-hesten.dk/graphics/*
!/files.net-hesten.dk/graphics/logo/
/files.net-hesten.dk/graphics/logo/*
!/files.net-hesten.dk/graphics/logo/default_logo.png
/files.net-hesten.dk/scripts/*
/files.net-hesten.dk/templates/*
/files.net-hesten.dk/style/graphics/*
/net-hesten.dk/admin/elements/fonts/*

#Adminpanels

/net-hesten.dk/admin/hestetegner/move_to_files/count_old.php
/net-hesten.dk/admin/hestetegner/move_to_files/fix.php
/net-hesten.dk/admin/hestetegner/move_to_files/count.php
/net-hesten.dk/admin/hestetegner/move_to_files/index.php
/net-hesten.dk/admin/hestetegner/move_to_types/index.php
/net-hesten.dk/admin/hestetegner/parsing/index.php
/net-hesten.dk/admin/hestetegner/repair/index.php
/net-hesten.dk/admin/hestetegner/edit_horse.php
/net-hesten.dk/admin/hestetegner/finish_type_addition.php
/net-hesten.dk/admin/hestetegner/list_indsendte.php
/net-hesten.dk/admin/hestetegner/list_rebirth_by_date.php
/net-hesten.dk/admin/hestetegner/show_all_uniques.php
/net-hesten.dk/admin/hestetegner/submitted_horses.php
/net-hesten.dk/admin/hestetegner/template_handling.php
