.btn {
	color:#333;
	display: inline-block;
	padding: 0 1em;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 2em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-top-color: rgb(204, 204, 204);
	border-right-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-repeat: repeat-x;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	&.btn-info {
		color: #ffffff;
		background-color: #49afcd;
		background-image: -moz-linear-gradient(top, #2f96b4, #0f66b4);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f96b4), to(#0f66b4));
		background-image: -webkit-linear-gradient(top, #2f96b4, #0f66b4);
		background-image: -o-linear-gradient(top, #2f96b4, #0f66b4);
		background-image: linear-gradient(to bottom, #2f96b4, #0f66b4);
		border-color: #0f66b4 #0f66b4 #1f6377;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
/*		color: #ffffff;
		background-color: #49afcd;
		background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
		background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
		background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
		background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
		border-color: #2f96b4 #2f96b4 #1f6377;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
	}
	&.btn-success {
		color: #ffffff;
		background-color: #5bb75b;
		background-image: -moz-linear-gradient(top, #62c462, #51a351);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
		background-image: -webkit-linear-gradient(top, #62c462, #51a351);
		background-image: -o-linear-gradient(top, #62c462, #51a351);
		background-image: linear-gradient(to bottom, #62c462, #51a351);
		border-color: #51a351 #51a351 #387038;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	&.btn-menu {
/*		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;*/
		color: #ffffff;
		background-color: #73bc30;
		background-image: -moz-linear-gradient(top, #73bc30, #73bc30);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73bc30), to(#73bc30));
		background-image: -o-linear-gradient(top, #73bc30, #73bc30);
		border-color: #51a351 #51a351 #387038;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	&.btn-danger {
		color: #ffffff;
		background-color: #da4f49;
		background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
		background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
		background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
		background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
		border-color: #bd362f #bd362f #802420;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	&.dropdown-toggle{
		padding-right: 2em;
		position:relative;
		&:after {
			content:"";
			position: absolute;
			right:1em;
			top:50%;
			transform: translateY(-50%);
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 4px solid #000000;
			border-top-color: rgb(0, 0, 0);
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			border-top-color: #ffffff;
			border-bottom-color: #ffffff;
		}
	}
	&:hover {
		background-position: 0 -15px;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
	}
	&.btn-danger:hover, &.btn-danger:active, &.btn-danger.active {
		background-color: #bd362f;
	}
	&.btn-info:hover, &.btn-info:active, &.btn-info.active {
		/*background-color: #2f96b4;*/
		background-color: #0f66b4;
	}
	&.btn-menu:hover, &.btn-menu:active, &.btn-menu.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

	}
	&.btn-success:hover, &.btn-success:active, &.btn-success.active {
		background-color: #51a351;
	}
}