body .btn[data-animation="blink"]{
	box-shadow: initial;
	animation: blink_keyframe 2s linear infinite;
}
#left_menu [message_status="blink"] {
	position:relative;
	opacity:0.75;
	&:before {
		content: "?";
		text-align: center;
		line-height: 14px;
		font-size:12px;
		position: absolute;
		top: 2px;
		right: 2px;
		display: block;
		border-radius: 50%;
		height: 14px;
		width: 14px;
		box-shadow: 0 0 0px 2px #cfdbc3;
		background: white;
		animation: blink_fade_keyframe2 2s linear infinite;
		z-index: -1;
	}
	box-shadow: initial;
}

@keyframes blink_keyframe {  
	50% { box-shadow:0 0 0px 2px rgba(0, 0,255,0.8); }
}

@keyframes blink_fade_keyframe2 {  
	50% { opacity:0; }
}
