@media all and (max-width:640px){
	html, body {
		overflow: initial;
		min-height: initial;
		height: initial;
	}
	#top_menu,
	#page-wrap,
	#left_menu,
	#page-content {
		 width: 100%;
		 display: block;
		 overflow: initial !important;
		 height: auto !important;
	}
	#top_menu {
		& > a > img {
			position: static;
		}
		nav {
			position: static;
			float: none;
			padding:0 1em 1em;
		}
	}
	#bottom_streamer {
		height: auto !important;
		position: static !important;
		a {
			clear: left;
		}
	}
	#booklet_opener {
		display: none;
	}
	.horse_object {
		height:200px !important;
	}
	[data-section-type="info_square"] {
		height: 160px !important;
	}
	.list_filters_form > select {
		float:none !important;
		/*size:8 !important;*/
	}
	.modal .content{
		top:30px !important;
		left:5px !important;
		right:5px !important;
		bottom:5px !important;
		max-width: calc(100% - 10px);
		transform: initial !important;
	}
	body .horse_object.horse_object .horse_vcard .extended_info.extended_info {
		padding-top: 50px !important;
		width: calc(100% - 20px) !important;
		z-index: -1;
	}
	.extended_info * {
		display: block !important;
		position: static !important;
		padding: 0 !important;
	}
	#chat-frame {
		position: fixed !important;
		top:0 !important;
		right:0 !important;
		z-index: 3 !important;
		bottom:0 !important;
		left:0 !important;
		height: auto !important;
	}
	#chat-frame-activator {
		position: fixed !important;
		top:10px !important;
		right:10px !important;
		z-index: 4 !important;
	}
}
