@media screen and (max-width: 440px) {
	body {
		/*text-align:center;*/
	}
	.filters {
		display: none !important;
	}
	.grid {
		text-align: center !important;
	}
}
section.tabs {
	padding:0;
	border:0;
	background: none;
}
section .grid {
	position: relative;
	text-align: justify;
	overflow: hidden;
}
.horse_square.graesing { 
	background: url("/style/graphics/graesing-one.jpg");
	background-size: 210px 210px;
}
.horse_square {
	position: relative;
	display:inline-block;
	width: 360px;
	height: 260px;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.3);
	img {
		position: absolute;
		top:150px;
		left:100px;
		height: auto;
		width: auto;
		max-width: 180px;
		max-height: 200px;
		-ms-transform: translate(-50%,-50%); /* IE 9 */
		-webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
		transform: translate(-50%,-50%);

		z-index: 1;
	}
	.info {
		padding: 10px;
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right:0;
		z-index: 2;
		opacity: 1;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
	.horse_vcard .extended_info {
		color:whitesmoke;
		position: absolute;
		top:8px;
		left:8px;
		right:8px;
		bottom:8px;
		padding: 1px 30px 1px 5px;
		background-color: rgba(0,0,0,0.8);
		line-height: 16px;
		font-size: 12px;
		text-align: left;
		box-shadow: 0 0 1px 2px rgba(0,0,0,0.6);
		opacity: 0;
		display: none;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
    }
	.info {
		.name {
			max-width: 300px;
			display: inline-block;
			line-height: 20px;
			font-size: 16px;
			padding: 8px !important;
			text-align: left;
		}
		.gender {
			position: absolute;
			top:10px;
			right:10px;
			height: 20px;
			width: 20px;
			line-height: 20px;
			font-size: 16px;
		}
	}
}
.horse_vcard .extended_info,
.horse_square .info .name,
.horse_square .info .end_date,
.horse_square .info .buy_now_price,
.horse_square .info .highest_bid,
.horse_square .info .value {
	/*		text-shadow:0 0 1px black, 
				0 0 2px black,
				0 0 3px white,
				0 0 4px white,
				0 0 5px black,
				0 0 6px black;*/
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	padding:1px;
	border:1px solid rgba(0,0,0,0.5);
}
.horse_square .info .end_date {
	position: absolute;
	right:10px;
	bottom:76px;
}
.horse_square .info .value {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.horse_square .info .highest_bid {
	position: absolute;
	bottom: 54px;
	right: 10px;
}
.horse_square .info .buy_now_price {
	position: absolute;
	bottom: 32px;
	right: 10px;
}
.horse_square .info form {
	position: absolute;
	bottom: 0;
	left:0;
	top: 0;
	right:0;
	padding: 10px;
	z-index: 6;
	display: none;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 1.5s linear;
	-moz-transition: opacity 1.5s linear;
	transition: opacity 1.5s linear;
}
.horse_square .info form.visible {
	display: block;
	opacity: 1;
}
.horse_square .info form input {
	margin-bottom: 5px; 
	width:100%;
}
.horse_square .info .close_sell_window,
.horse_square .info .open_sell_window {
	position: absolute;
	bottom: 10px;
	left:10px;
	width: 50px;
	z-index: 3;
}
.horse_square.visible .info,
.horse_square:hover .info {
	opacity: 1;
}
section .grid:after, 
.horse_square:after {
	content:"";
	display: block;
	clear: both;
}
.female {
	color: rgba(250,200,150,0.8);
}
.male {
	color:rgba(150,200,250,0.8);
}
.icon-female-1:before {
}
.icon-male-1:before {
}
.horse_square .horse_vcard {

}
.horse_square .horse_vcard .icon-vcard {
	z-index: 5;
	position:absolute;
	top:40px;
	right:10px;
}
.horse_square .horse_vcard .icon-vcard:hover + .extended_info,  .horse_square .horse_vcard .icon-vcard + .extended_info:hover {
	opacity: 1;
	z-index: 4;
	display: block;
}
.horse_square .ability {
	color:limegreen;
}
.horse_square .artist {
	color: gold;
}
.horse_square .talent {
	color:lightsteelblue;
}
.horse_square .disability {
	color:lightcoral;
}
.horse_square .original {
	color:gold;
}
.horse_square .unique {
	color:gold;
}