#horse_linage {
	.child,
	.mother,
	.self,
	.father {
		display: inline-block;
		margin: 10px;
		height: 160px;
		width: 120px;
		position: relative;
		cursor: pointer;
	}
	.siblings,
	.fsiblings,
	.msiblings,
	.children { 
		max-height: 300px;
		overflow: auto;
		padding: 1em 0;
	}
	.top_line {
		display: grid;
		grid-template-columns: 160px 1fr;
		.parents_holder {
			h3 {
				text-align: right;
				padding: 1em 60px 1em 0;
			}
			.parents {
				text-align: right;
				margin: 0 60px 0 auto;
				width: 290px;
			}
		}
	}
	.parents {
		/*text-align: center;
		margin: 0 auto;
		width: 290px;*/
	}

	.self {
		margin: 20px 0;
		text-align: center;
	}

	.content {
		text-align: center;
		width: 1000px;
	}

	.gender_icon {
		position: absolute;
		top: -15px;
		right: -15px;
	}

	img {
		max-height: 120px;
		max-width: 120px;
	}
	h3 {
		padding: 1em 0;
		border-top: 1px solid black;
	}
}

.name {
	font-weight: bold;
}
