// out: false

@font-face {
  font-family: 'lumosweb';
  src: url('/font/lumosweb.eot?56829744');
  src: url('/font/lumosweb.eot?56829744#iefix') format('embedded-opentype'),
       url('/font/lumosweb.woff?56829744') format('woff'),
       url('/font/lumosweb.ttf?56829744') format('truetype'),
       url('/font/lumosweb.svg?56829744#lumosweb') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lumosweb';
    src: url('../font/lumosweb.svg?56829744#lumosweb') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lumosweb";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
   /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/ 
}
 
.icon-emo-thumbsup:before { content: '\e800'; } /* '' */
.icon-spin3:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-male-1:before { content: '\e803'; } /* '' */
.icon-female-1:before { content: '\e804'; } /* '' */
.icon-star-1:before { content: '\e80d'; } /* '' */
.icon-emo-laugh:before { content: '\e80e'; } /* '' */
.icon-emo-squint:before { content: '\e80f'; } /* '' */
.icon-emo-cry:before { content: '\e810'; } /* '' */
.icon-emo-surprised:before { content: '\e811'; } /* '' */
.icon-emo-tongue:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-unhappy:before { content: '\e814'; } /* '' */
.icon-emo-happy:before { content: '\e815'; } /* '' */
.icon-emo-displeased:before { content: '\e816'; } /* '' */
.icon-emo-angry:before { content: '\e817'; } /* '' */
.icon-male:before { content: '\e818'; } /* '' */
.icon-female:before { content: '\e819'; } /* '' */
.icon-lock-open:before { content: '\e81a'; } /* '' */
.icon-lock-1:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-picture-outline:before { content: '\e81d'; } /* '' */
.icon-camera-outline:before { content: '\e81e'; } /* '' */
.icon-mail-1:before { content: '\e81f'; } /* '' */
.icon-home-outline:before { content: '\e820'; } /* '' */
.icon-star-filled:before { content: '\e821'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e822'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e823'; } /* '' */
.icon-ok-outline:before { content: '\e824'; } /* '' */
.icon-cancel-outline:before { content: '\e825'; } /* '' */
.icon-unlink:before { content: '\e826'; } /* '' */
.icon-link:before { content: '\e827'; } /* '' */
.icon-heart-1:before { content: '\e828'; } /* '' */
.icon-pin-outline:before { content: '\e829'; } /* '' */
.icon-money:before { content: '\e82a'; } /* '' */
.icon-sort:before { content: '\e82b'; } /* '' */
.icon-toggle-off:before { content: '\e82e'; } /* '' */
.icon-toggle-on:before { content: '\e82f'; } /* '' */
.icon-check:before { content: '\e830'; } /* '' */
.icon-check-empty:before { content: '\e831'; } /* '' */
.icon-sliders:before { content: '\e832'; } /* '' */
.icon-user-delete-outline:before { content: '\e833'; } /* '' */
.icon-user-add-outline:before { content: '\e834'; } /* '' */
.icon-users-outline:before { content: '\e835'; } /* '' */
.icon-sitemap:before { content: '\e836'; } /* '' */
.icon-mail:before { content: '\e837'; } /* '' */
.icon-warning-empty:before { content: '\e838'; } /* '' */
.icon-attention-1:before { content: '\e839'; } /* '' */
.icon-view-mode:before { content: '\e83a'; } /* '' */
.icon-gift:before { content: '\e83b'; } /* '' */
.icon-fire:before { content: '\e83c'; } /* '' */
.icon-comment-empty:before { content: '\e83d'; } /* '' */
.icon-bell:before { content: '\e83e'; } /* '' */
.icon-angle-double-down:before { content: '\e83f'; } /* '' */
.icon-angle-double-up:before { content: '\e840'; } /* '' */
.icon-angle-double-right:before { content: '\e841'; } /* '' */
.icon-angle-double-left:before { content: '\e842'; } /* '' */
.icon-progress-3:before { content: '\e843'; } /* '' */
.icon-progress-2:before { content: '\e844'; } /* '' */
.icon-progress-1:before { content: '\e845'; } /* '' */
.icon-search-outline:before { content: '\e846'; } /* '' */
.icon-vcard:before { content: '\e847'; } /* '' */
.icon-thumbs-up-1:before { content: '\e848'; } /* '' */
.icon-thumbs-down-1:before { content: '\e849'; } /* '' */
.icon-bell-1:before { content: '\e84a'; } /* '' */
.icon-cog-outline:before { content: '\e84c'; } /* '' */
.icon-menu-outline:before { content: '\e84d'; } /* '' */
.icon-edit:before { content: '\e84e'; } /* '' */