// out: false

@media all and (max-width: 640px) {
	html,
	body {
		overflow: initial;
		min-height: initial;
		height: initial;
	}
	#top_banner {
		overflow: hidden;
	}
	#top_menu,
	#page-wrap,
	#left_menu,
	#left_menu.old_school,
	#left_menu.old_school ~ #page-content,
	#page-content {
		width: 100%;
		display: block;
		overflow: initial !important;
		height: auto !important;
	}
	#top_menu {
		& > a > img {
			position: static;
		}
		nav {
			position: static;
			float: none;
			padding: 0 1em 1em;
		}
	}
	#bottom_streamer {
		height: auto !important;
		position: static !important;
		a {
			clear: left;
		}
	}
	#booklet_opener {
		display: none;
	}
	.horse_object {
		height: 200px !important;
	}
	[data-section-type="info_square"] {
		height: 160px !important;
	}
	.list_filters_form > select {
		float: none !important;
		/*size:8 !important;*/
	}
	.modal .content {
		top: 30px !important;
		left: 5px !important;
		right: 5px !important;
		bottom: 5px !important;
		max-width: calc(100% - 10px);
		transform: initial !important;
	}
	body .horse_object.horse_object .horse_vcard .extended_info.extended_info {
		padding-top: 50px !important;
		width: calc(100% - 20px) !important;
		z-index: -1;
	}
	.extended_info * {
		display: block !important;
		position: static !important;
		padding: 0 !important;
	}
	#chat-frame {
		position: fixed !important;
		top: 0 !important;
		right: 0 !important;
		z-index: 3 !important;
		bottom: 0 !important;
		left: 0 !important;
		height: auto !important;
	}
	#chat-frame-activator {
		position: fixed !important;
		top: 10px !important;
		right: 10px !important;
		z-index: 4 !important;
	}

	body {
		#left_menu a:nth-child(2n) {
			top: auto;
		}

		#left_menu {
			max-width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
			&.old_school {
				display: grid;
				grid-template-columns:1fr 1fr;
			}
		}

		#left_menu,
		#page-content {
			float: none;
			padding-left: 5px;
			padding-right: 5px;
		}

		[data-section-type="competition"] {
			width: 100%;
			float: none;
		}
		#page-content {
		}
	}
}
@media all and (max-width: 400px) {
	#top_menu > a > img {
		left: 0 !important;
	}
}

@media all and (max-width: 450px) {
	body .horse_square.horse_object {
		padding: 20px !important;
	}
	body .horse_square.horse_object,
	body .horse_square.horse_object *,
	body .horse_square.horse_object .compact_top_button,
	body .horse_square.horse_object .compact_bottom_button {
		position: relative !important;
		bottom: initial !important;
		right: initial !important;
		left: initial !important;
		top: initial !important;
		display: block !important;
		height: auto !important;
		width: 100% !important;
	}
	body .horse_square.horse_object *,
	body .horse_square.horse_object .compact_top_button,
	body .horse_square.horse_object .compact_bottom_button {
		padding: 0 !important;
		margin: 0 !important;
	}
	body .horse_square.horse_object script {
		display: none !important;
	}
	body .horse_square.horse_object .info {
		display: grid !important;
		grid-gap: 1em !important;
	}
	body .horse_square.horse_object .info .gender,
	body .horse_square.horse_object .info .icon-vcard {
		display: none !important;
	}
	body .horse_square.horse_object .name,
	body .horse_square.horse_object .horse_vcard .extended_info.extended_info {
		width: 100% !important;
		padding: 0 !important;
	}
	body .horse_square.horse_object .horse_vcard .extended_info {
		line-height: 1.3em !important;
	}
	body .horse_square.horse_object .value {
		transform: initial !important;
	}
	body .horse_square.horse_object form .wkr_symbol,
	body .horse_square.horse_object .value .wkr_symbol,
	body .horse_square.horse_object .horse_vcard .value .wkr_symbol {
		display: inline !important;
	}
	body .horse_square.horse_object img {
		position: absolute !important;
		top: 20px !important;
		right: 20px !important;
		bottom: initial !important;
		left: initial !important;
		transform: initial !important;
		max-width: 180px !important;
		max-height: 170px !important;
		height: auto !important;
		width: auto !important;
	}
	body .horse_square.horse_object img.zoom_img {
		display: none !important;
	}
	body .horse_square.horse_object form {
		position: absolute !important;
		transform: none !important;
		padding: 10px !important;
		z-index: 0 !important;
	}
	body .horse_square.horse_object form.visible {
		z-index: 15 !important;
	}
	body .horse_square.horse_object form * {
		margin: 5px 0 !important;
		padding: 5px 0px 5px 10px !important;
	}
	body .horse_square.horse_object form br {
		display: none !important;
	}
	body .horse_square.horse_object form button,
	body .horse_square.horse_object form input[type="submit"] {
		margin: 5px 0 !important;
		padding: 0 !important;
	}
}
